{% load static %}
<footer>
    <div class='container con-sp-between'>
        <div class='location flex footer-item'>
            <div class='headset-footer'>
                <img src="{% static 'icons/headset.png' %}"/>
            </div>
            <div>
                <h4>
                سوالی دارید؟ تماس بگیرید
                </h4>
                <p class='phone'>
                    <a href='tel:+02123456789'>021 2345 6789</a>
                </p>
                <p>
                    تهران, 
                    خیابان ولیصر, بعد از بانک صادرات, کوچه 52, ساختمان تست
                </p>
                <a href='mailto:test@test.test'>
                    test@test.test
                </a>
            </div>
        </div>
        <div class='payment-footer flex footer-item'>
            <div class='verify-footer'>
                <img src="https://img.icons8.com/ios/50/null/verified-account.png"/>
            </div>
            <div>
                <h4>
                    پرداخت مطمئن و تضمین شده
                </h4>
                <div class='secure-payment-footer'>
                    <a href='https://www.zarinpal.com/'>
                        <img src='{% static "icons/zarinpall.png" %}' width='80' height='110'>
                    </a>
                    <a href='https://idpay.ir/'>
                        <img src='{% static "icons/idpay.png" %}' width='80' height='110'>
                    </a>
                </div>
            </div>
        </div>
        <div class='usefull footer-item'>
            <div class='information-us'>
                <h4>
                    اطلاعات بیشتر
                </h4>
                <a href='#'>
                    شرایط و خدمات
                </a>
                <a href='#'>
                    درباره فروشگاه ما
                </a>
                <a href='#'>
                    راه های ارتباطی
                </a>
                <a href='#'>
                    تخفیف ها
                </a>
            </div>
            <div class='footer-account'>
                <h4>
                    حساب    
                </h4>
                <a href='#'>
                    حساب
                </a>
                <a href='#'>
                    سبد خرید                        
                </a>
                <a href='#'>
                    سفارش ها
                </a>
                <a href='#'>
                    پیگیری سفارش
                </a>
            </div>
        </div>
        <div class='social-media footer-item'>
            <h4>                
                با ما در شبکه های اجتماعی همراه باشید.
            </h4>                
            <div class='social-icons flex con-sp-between'>
                <a href="#" class="fa fa-brands fa-linkedin"></a>
                <a href="#" class="fa fa-brands fa-telegram"></a>
                <a href="#" class="fa fa-brands fa-instagram"></a>
                <a href="#" class="fa fa-brands fa-whatsapp"></a>
            </div>

        </div>
    </div>
</footer>