{% load static %}
{% load utils %}
<header id='header'>
    <div class='container con-sp-between'>
        <img src='{% static "home/test.png" %}' id='header-logo' class='mgx-3'>
        <div class='cart mgx-3 flex'>
            <a href='#' class='mgy-auto flex mgx-auto'>
                <img src='{% static "icons/scart.png" %}' >
            </a>
            <a href='#' class='mgy-auto mgx-auto flex'>
                <img src='{% static "icons/user.png" %}'>
            </a>
        </div>
        <div class='search-root mgx-3'>
            <input name='search' type='text' placeholder='جست و جو در کالاها'>
            <input type='submit' value='جست و جو'>
        </div>
        <a href='#' class='category flex flex-end'>
            <p class='mgy-auto'>دسته بندی ها</p>
            <img src='{% static "icons/menu.png" %}' class='mgy-auto mgx-3'>
        </a>
        {% categories_in_header %}
    </div>
</header>