<div class='test2'>
    <div class='test'>
        <div class='category-tab'>
            <div class='category-tab-inside'>
                {% for i in cat_header %}
                    <div class='category-tab-item'>
                        {{i}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>