{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/main.css' %}" type="text/css">
    {% if request.resolver_match.url_name == 'home' %}
        <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    {% endif %}
    <link rel="stylesheet" href="{% static 'home/frameless.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css">
</head>
<body dir='rtl'>
    {% include './header.html' %}
    <main id='main-content'>
        <div class='container product-main dir-ltr'>
            <div class='prm-left w-50'>
                <img src='{% static "icons/leftmain.png" %}'>
            </div>
            <div class='prm-right w-50'>
                <div class='kashi'>
                    <a>
                        <img src='{% static "icons/340250.jpg" %}'>
                    </a>
                </div>
                <div class='kashi'>
                    <a>
                        <img src='{% static "icons/340250.jpg" %}'>
                    </a>
                </div>
                <div class='kashi'>
                    <a>
                        <img src='{% static "icons/340250.jpg" %}'>
                    </a>
                </div>
                <div class='kashi'>
                    <a>
                        <img src='{% static "icons/340250.jpg" %}'>
                    </a>
                </div>
            </div>
        </div>
        <div class='container features'>
            <div class='flex con-sp-between features-child'>
                <div class='feature-item text-center'>
                    <img src='{% static "icons/delivery-truck.png" %}'>
                    <p>
                        ارسال‌ رایگان به تمام کشور
                    </p>
                </div>
                <div class='feature-item text-center'>
                    <img src='{% static "icons/support2.svg" %}'>
                    <p>
                        پشتیبانی 24 ساعته
                    </p>
                </div>
                <div class='feature-item text-center'>
                    <img src='{% static "icons/test.png" %}'>
                    <p>
                        تضمین کیفیت
                    </p>
                </div>
                <div class='feature-item text-center'>
                    <img src='{% static "icons/24-hours.png" %}'>
                    <p>
                        فروشگاهی همیشه باز
                    </p>
                </div>
            </div>
        </div>
        <div class='container main-category'>
            <h1 class='header-container text-center'>
                دسته بندی ها
            </h1>
            <div class='slide-show1 dir-ltr mgx-auto'>
                <div class='owl-carousel owl-one owl-theme'>
                    {% for i in categories %}
                        <div class='slide-item'> 
                            <img src='{{i.image.url}}'>
                            <p><a href="#">{{i.name}}</a></p>
                        </div>
                    {% endfor %}
                    {% comment %} <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class='container offs'>
            <div class='flex header-offs'>
                <h1 class='text-right mgy-auto'>
                    تخفیف های ویژه
                </h1>
                <div class='selectable-area-off text-left flex'>
                    <a class='selectable-cat-off selected-cat-off'>
                        کامپیتورهای اسمبل شده
                    </a>
                    <a class='selectable-cat-off'>
                        پردازنده
                    </a>
                </div>
            </div>
            <div class='slide-show1 dir-ltr mgx-auto'>
                <div class='owl-carousel owl-two owl-theme'>
                    <div class='slide-item flex'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your ContentYour ContentYour ContentYour ContentYour ContentYour ContentYour Content </p>
                        <hr>
                        <label class='mgx-auto'>
                            127,125,745 تومان <i class='percent'>12%</i>
                        </label>
                        <small class='off-text mgx-auto'>
                            127,125,745 تومان
                        </small>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                    <div class='slide-item'> 
                        <img src='{% static "icons/cpu.png" %}'>
                        <p> Your Content </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='container banner-middle'>
                <div class='long'>
                    <a href='#'>
                        <img src='https://dummyimage.com/900x250/000/fff.png'>
                    </a>
                </div>
                
                <div class='short'>
                    <a href='#'>
                        <img src='https://dummyimage.com/450x250/000/fff.png'>
                    </a>
                </div>
        </div>
        <div class='container laptop-main'>
            <div class='header-laptop flex con-sp-between'>
                <h1 class='mgy-auto mgr-4'>
                    لپ تاپ ها
                </h1>
                <a class='mgy-auto mgl-4 more'>  
                    مشاهده کنید
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div class='product flex mgx-auto'>
                <diV class='laptop-item flex'>
                    <div class='lap-image'>
                        <img src='{% static "icons/laptop.png" %}'>
                    </div>
                    <div class='information flex'>
                        <p>لپ تاپ hp مدل g4550</p>
                        <p>پردازنده: i5 10500f</p>
                        <p>رم: 16gb</p>
                        <p>اندازه صفحه: 15.3 inch</p>
                        <p>رنگ: نقره ای</p>
                        <p class='price-item'>7,500,00 تومان</p>
                    </div>
                    <div class='more-lap'>
                        <a href='#'>
                            اطلاعات بیشتر
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div>
                <diV class='laptop-item flex'>
                    <div class='lap-image'>
                        <img src='{% static "icons/laptop.png" %}'>
                    </div>
                    <div class='information flex'>
                        <p>لپ تاپ hp مدل g4550</p>
                        <p>پردازنده: i5 10500f</p>
                        <p>رم: 16gb</p>
                        <p>اندازه صفحه: 15.3 inch</p>
                        <p>رنگ: نقره ای</p>
                        <p class='price-item'>7,500,00 تومان</p>
                    </div>
                    <div class='more-lap'>
                        <a href='#'>
                            اطلاعات بیشتر
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div>
                <diV class='laptop-item flex'>
                    <div class='lap-image'>
                        <img src='{% static "icons/laptop.png" %}'>
                    </div>
                    <div class='information flex'>
                        <p>لپ تاپ hp مدل g4550</p>
                        <p>پردازنده: i5 10500f</p>
                        <p>رم: 16gb</p>
                        <p>اندازه صفحه: 15.3 inch</p>
                        <p>رنگ: نقره ای</p>
                        <p class='price-item'>7,500,00 تومان</p>
                    </div>
                    <div class='more-lap'>
                        <a href='#'>
                            اطلاعات بیشتر
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div>
                <diV class='laptop-item flex'>
                    <div class='lap-image'>
                        <img src='{% static "icons/laptop.png" %}'>
                    </div>
                    <div class='information flex'>
                        <p>لپ تاپ hp مدل g4550</p>
                        <p>پردازنده: i5 10500f</p>
                        <p>رم: 16gb</p>
                        <p>اندازه صفحه: 15.3 inch</p>
                        <p>رنگ: نقره ای</p>
                        <p class='price-item'>7,500,00 تومان</p>
                    </div>
                    <div class='more-lap'>
                        <a href='#'>
                            اطلاعات بیشتر
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='container banner-bottom con-sp-between'>
            <div class='banner'>
                <div class='image'>
                    <a href='#'>
                        <img src='{% static "icons/460250.png" %}'>
                    </a>
                </div>
            </div>
            <div class='banner'>
                <div class='image'>
                    <a href='#'>
                        <img src='{% static "icons/460250.png" %}'>
                    </a>
                </div>
            </div>
            <div class='banner'>
                <div class='image'>
                    <a href='#'>
                        <img src='{% static "icons/460250.png" %}'>
                    </a>
                </div>
            </div>
        </div>
        <div class='container gpu-main'>
            <div class='gpu-header'>
                <h1>
                    کارت گرافیک ها
                </h1>
            </div>
            <div class='gpu-body flex con-sp-between'>
                <div class='gpu-item-main flex'>
                    <img src="{% static 'icons/gpu.png' %}">
                    <a href='#' class='text-center'>
                        کارت گرافیک gtx 2060 super برند msi
                        <br>
                        <i>
                        22,500,000 تومان
                        </i>
                    </a>
                </div>
                <div class='gpu-item-main flex'>
                    <img src="{% static 'icons/gpu.png' %}">
                    <a href='#' class='text-center'>
                        کارت گرافیک gtx 2060 super برند msi
                        <br>
                        <i>
                        22,500,000 تومان
                        </i>
                    </a>
                </div>
                <div class='gpu-item-main flex'>
                    <img src="{% static 'icons/gpu.png' %}">
                    <a href='#' class='text-center'>
                        کارت گرافیک gtx 2060 super برند msi
                        <br>
                        <i>
                        22,500,000 تومان
                        </i>
                    </a>
                </div>
                <div class='gpu-item-main flex'>
                    <img src="{% static 'icons/gpu.png' %}">
                    <a href='#' class='text-center'>
                        کارت گرافیک gtx 2060 super برند msi
                        <br>
                        <i>
                        22,500,000 تومان
                        </i>
                    </a>
                </div>
                <div class='gpu-item-main flex'>
                    <img src="{% static 'icons/gpu.png' %}">
                    <a href='#' class='text-center'>
                        کارت گرافیک gtx 2060 super برند msi
                        <br>
                        <i>
                        22,500,000 تومان
                        </i>
                    </a>
                </div>
            </div>
            <div class='gpu-footer'>
                <h3 class='text-center'>
                    <a href='#'>
                        کارت گرافیک هایی بیشتری مشاهده کنید
                        <i class="fa fa-angle-left text-center"></i>
                    </a>
                </h3>
            </div>
        </div>

        <div class='container brands'>
            <div class='brand-main flex con-sp-between'>
                <div class='brand-item'>
                    <a href='#'>
                        <img src='{% static "icons/asus.png" %}'>
                    </a>
                </div>
                <div class='brand-item'>
                    <a href='#'>
                        <img src='{% static "icons/asus.png" %}'>
                    </a>
                </div>
                <div class='brand-item'>
                    <a href='#'>
                        <img src='{% static "icons/asus.png" %}'>
                    </a>
                </div>
                <div class='brand-item'>
                    <a href='#'>
                        <img src='{% static "icons/asus.png" %}'>
                    </a>
                </div>
                <div class='brand-item'>
                    <a href='#'>
                        <img src='{% static "icons/asus.png" %}'>
                    </a>
                </div>
            </div>
        </div>
    </main>

    {% include './footer.html' %}
    <div class='create-by text-center'>
        Designed by
        <a href='#'>
            Erfan Ghaleh Khani
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
        $('.owl-one').owlCarousel({
            lazyLoad: true,
            rewind: false,
            rtl: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:6
                }
            }
        });


        $('.owl-two').owlCarousel({
            lazyLoad: true,
            rewind: false,
            rtl: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:6
                }
            }
        });
    </script>
    <script>
        window.onscroll = function() {fixedHeader()};
        
        var header = document.getElementById("header");
        var mainTag = document.getElementById('main-content');
        var sticky = header.offsetTop;
        
        function fixedHeader() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            mainTag.classList.add('mg-top-main');
        } else {
            header.classList.remove("sticky");
            mainTag.classList.remove('mg-top-main');
          }
        }
    </script>
</body>
</html>