.mgy-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.mgx-auto{
    margin-right: auto;
    margin-left: auto;
}

.flex{
    display: flex;
}

.con-sp-between{
    justify-content: space-between;
}

.flex-end{
    justify-content: flex-end;
}

.dir-ltr{
    direction: ltr;
}

.w-50{
    width: 50%;
}

.mg-0{
    margin: 0;
}

.text-center{
    text-align: center;
}

.w-100{
    width: 100%;
}

.mgr-3, .mgx-3{
    margin-right: 9px;
}

.mgl-3, .mgx-3{
    margin-left: 9px;
}

.mgr-4, .mgx-4{
    margin-right: 12px;
}

.mgl-4, .mgx-4{
    margin-left: 12px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}