@font-face {
    font-family: 'IranSans';
    /* src: url("IRANSansWeb.woff") format("woff"); */
    src: url('http://mincdn.ir/font/IranSans/IRANSansWeb.woff') format('woff');
    font-weight: normal; }

a{
    text-decoration: none;
    color: #383838;
}

body{
    background-color: rgb(250, 250, 250);
    margin: 0;
    font-family: 'IranSans';
}

header{
    background-color: white;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #810CA8;
    direction: ltr;
}

header .container{
    height: 60px;   
    position: relative;
}

#header-logo{
    width: 100px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.container{
    margin: 0 100px;
    display: flex;
}

.category{
    font-size: 15px;
    padding: 2px 5px;
    margin: auto 12px;
    width: 200px;
    height: 40px;
    border: 1px solid #2D033B;
    border-radius: 5px;
}

.search-root{
    width: 60%;
    display: inline-flex;
}

.search-root input[type=text]{
    width: 75%;
    height: 26px;
    margin: auto 0;
    padding: 3px;
    direction: rtl;
    font-family: 'IranSans';
    padding-right: 12px;
    border: 1.5px solid #2D033B;
}

.search-root input[type=text]:focus-visible{
    outline: none;
}

.search-root input[type=submit]{
    width: 25%;
    height: 34px;
    margin: auto 0;
    background-color: #2D033B;
    color: white;
    outline: none !important;
    border: none;
    font-family: 'IranSans';
}

.cart{
    width: 100px;
}

.cart a{
    padding: 5px;
}



footer{
    /* background-color: rgb(239, 239, 239); */
    background-color: rgb(248, 244, 244);
    padding: 25px 0;
    border-top: 2px solid #E5B8F4;
    direction: rtl;
    text-align: right;
    color: #252525;
}

footer .phone{
    direction: ltr;
}

footer .location p, footer .location a{
    margin: 3px 0;
    font-size: 14px;
    /* color: #252525; */
    color: #4d424b;
}

footer .footer-item{
    flex-basis: 23%;
    margin: 0 auto;
    /* text-align: center; */
}

footer .secure-payment-footer{
    display: flex;   
}

footer .payment-footer h4{
    margin: 5px 0;
}

footer .location h4{
    margin: 15px 0 0 0 ;
}

footer .location {
    line-height: 150%;
}

footer .headset-footer{
    margin-left: 10px;
}

footer .payment-footer h4{
    margin: 10px 0 0 0 ;
}

footer .payment-footer .verify-footer{
    margin-left: 5px;
}

footer .secure-payment-footer img{
    margin-left: 5px;
    margin-top: 15px;
}

footer .usefull .information-us{
    display: flex;
    flex-flow: column;
    line-height: 180%;
    padding: 0 60px 0 30px;
    border-right: 2px solid #7a7a7a;
}

footer .usefull .information-us h4{
    margin: 8px 0;
    font-weight: bold;
}

footer .usefull .information-us a{
    font-size: 14px;
}

footer .usefull{
    display: flex;

}

footer .footer-account{
    display: flex;
    flex-flow: column;
    line-height: 180%;
}

footer .footer-account h4{
    margin: 8px 0;
    font-weight: bold;
}

footer .footer-account a{
    color: #4d424b;
    font-size: 14px;
}

footer .social-media a{
    font-size: 35px;
}

footer .social-media .social-icons .fa{
    flex-basis: 25%;
    text-align: right;
}

footer .social-media h4{
    margin:8px 0 18px 0;
}

.fa-instagram{
    color: #9327b4;
}

.fa-telegram{
    color: rgb(74, 110, 228);
}

.fa-whatsapp{
    color: rgb(6, 170, 0);
}

.fa-linkedin{
    color: rgb(49, 49, 238);
}

.create-by{
    background-color: #282828;
    color: white;
    padding: 10px;
}

.create-by a{
    color: gold;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 9999999999999999;
}

.mg-top-main{
    margin-top: 70px;
}

footer h4{
    color: #2D033B;
}

/* .category:hover .category-tab{
    display: block;
    background-color: red;
} */

.category-tab{
    /* position: absolute; */
    position: relative;
    right: 0;
    /* margin-top: 60px; */
    background-color: white;
    /* width: 80%; */
    text-align: right;
    direction: rtl;
    /* margin-right: 15px; */
    line-height: 35px;
    padding: 12px;
    height: 400px;
    /* box-shadow: 0px 3px 10px -2px #660e59; */
    border-radius: 0 0px 11px 11px;
    border: 2px solid #810CA8;
    border-top: none;
}

.category-tab-inside{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: inherit;
    max-width: fit-content;
}

.category-tab-item{
    margin: 0 30px;
}

.category-tab::before,
.category-tab::after{
/* .test::before,
.test::after{ */
    border-radius: 11px;
    border: 2px solid #810CA8;
    position: absolute;
    content: "";
    left: -11px;
    top: -13px;
    border-bottom: 0;
    width: 12px;
    height: 12px;
}

.category-tab::after{
/* .test::after{ */
    border-radius: 0 11px 0 0;
    border-left: 0;
    left: -14px;
}

.category-tab::before{
/* .test::before{ */
    border-right: 0;
    -moz-border-radius: 11px 0 0 0;
    -webkit-border-radius: 11px 0 0 0;
    border-radius: 11px 0 0 0;
    right: -14px;
}

.test{
    height: 411px;
    position: absolute;
    width: 80%;
    padding-top: 11px;
    right: 0;
    margin-top: 60px;
    background-color: white;
    width: 80%;
    text-align: right;
    direction: rtl;
    margin-right: 15px;
    /* margin: 15px 27px 0; */
    line-height: 35px;
    /* border-top: none; */
    /* padding: 11px 12px 0px 12px; */
    border-top: 2px white solid;
    padding-top: 11px;
}