/* @font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
} */

.kashi{
    width: 49.7%;
    margin: 3px 0;
    height: 247px;
}

.prm-right{
    height: 500px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.prm-right a{
    border: 1px solid #cacaca;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.prm-right a img{
    width: 100%;
    height: 100%;
    background-color: white;
}

.prm-left{
    height: 500px;
    padding: 6px;
    display: flex;
}

.prm-left img{
    width: 100%;
}

.product-main img{
    border-radius: 6px;
}

main{
    margin-top: 10px;
    margin-bottom: 10px;
}

.features{
    margin-top: 7px;
    margin-bottom: 7px;
}

.features-child{
    width: 99%;
    margin: 0 auto;
    border: 1px groove #E5B8F4;
    border-radius: 3px;
    background-color: #EDE5F0;
    box-shadow: 0px 1px 18px -8px #810CA8;
}

.feature-item{
    width: 25%;
}


.feature-item img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    filter: grayscale(100%);
}

.feature-item p{
    margin-top: 0;
    margin-bottom: 10px;
    color: #2D033B;
}

.header-container{
    font-size: 22px;
    width: 100%;
    color: #2D033B;
}

.slide-item{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.slide-item img{
    width: 80% !important;
    height: 80%;
    border-radius: 75%;
    border: 1.5px solid #E5B8F4;
    margin: auto;
}

.slide-item p{
    width: max-content;
    margin: auto;
}

.slide-show1{
    width: 99%;
}

.main-category{
    flex-flow: column;
}

.offs {
    margin-top: 7px;
    margin-bottom: 7px;
    flex-flow: column;
    position: relative;
}

.offs .header-offs, .laptop-main .header-laptop{
    background-color: #F2E7F5;
    /* background-color: rgb(227, 227, 227); */
    border: 1px solid #E5B8F4;
    /* border: 1px solid rgb(201, 201, 201); */
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
}

.selectable-cat-off{
    width: fit-content;
    margin: 10px 9px 0 9px;
    padding: 8px 8px 11px;
    color: #C147E9;
}

.offs .header-offs h1{
    font-size: 20px;
    width: 30%;
}

.selectable-area-off{
    justify-content: flex-end;
    padding-left: 20px;
    width: 70%;
}

.selected-cat-off{
    background-color: rgb(250, 250, 250);
    border: 2px solid #E5B8F4;
    /* border: 2px solid rgb(201, 201, 201); */
    position: relative;
    border-radius: 5px 5px 0 0;
    color: #2D033B;
}

.selected-cat-off::after{
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(250, 250, 250);
    content:"";
}

.owl-two{
    margin-top: 18px;
}

.offs .slide-show1 label{
    color: #2D033B;
}

.off-text{
    text-decoration: line-through;
    text-decoration-color: #C147E9;
    color: rgb(122, 122, 122);
    border: 1px solid #E5B8F4;
    border-radius: 5px;
}

.offs .slide-item{
    height: auto;
    flex-flow: column;
    width: 255px;
}

.offs .slide-item p{
    width: auto;
    color: #2D033B;
}

.offs .slide-item img{
    margin-bottom: 8px;
}

.offs .slide-item small{
    width: max-content;
    text-align: center;
    padding: 7px;
    margin-top: 5px;
}

.offs .slide-item label i{
    float: right;
    padding: 3px;
    width: max-content;
    /* background-color: rgb(223, 72, 72); */
    background-color: #C147E9;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
}

.offs .slide-item hr{
    border-color: #810CA8;
    width: 100%;
}

.header-offs h1{
    color: #2D033B;
    padding-right: 20px;
}

.banner-middle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-middle .long{
    width: 65%;
    display: flex;
    justify-content: flex-end;
}

.banner-middle .short{
    display: flex;
    justify-content: center;
    width: 35%;
}

.banner-middle img {
    border: 1px solid rgb(122, 122, 122);
    width: 100%;
    height: 100%;
}

.banner-middle .short a, .banner-middle .long a{
    margin: 0 3px;
}

.header-laptop h1{
    color: #2D033B;
    font-size: 20px;
}

.header-laptop .more{
    padding: 10px;
    position: relative;
    color: #2D033B;
}

.header-laptop .more::after {
    content: "";
    height: 1px;
    width: 85%;
    background-color: black;
    position: absolute;
    top: 80%;
    right: 6px;
}

.laptop-main{
    flex-flow: column;
}

.laptop-main .product{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin-top: 15px;
}

.laptop-main .product .laptop-item{
    flex-basis: 48%;
    position: relative;
    border-width: 78%;
    margin: 15px auto;
}

.laptop-main .product .laptop-item::after{
    position: absolute;
    content: "";
    bottom: 0;
    height: 2px;
    background-color: #E5B8F4;
    width: 100%;
    right: 0;
}


.laptop-main .product .laptop-item .lap-image {
    width: 320px;
    height: max-content;
}

.laptop-main .product .laptop-item .lap-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.laptop-main .product .laptop-item .information{
    flex-flow: column;
}

.laptop-main .product .laptop-item .information p{
    margin: 0;
    font-size: 14px;
    color: #2D033B;
    direction: rtl;
}

.laptop-main .product .laptop-item .information p:first-child{
    margin-top: 30%;
    
}

.laptop-main .product .laptop-item .information .price-item{
    font-size: 18px;
    color: #2D033B;
}

.laptop-main .product .laptop-item .more-lap{
    flex-grow: 100;
    position: relative;
}

.laptop-main .product .laptop-item .more-lap a{
    position: absolute;
    bottom: 0;
    left:0;
    margin: 0 0 15px 15px;
    color:#810CA8;
}

.banner-bottom{
    margin-top: 20px;
    margin-top: 20px;
}

.banner-bottom .banner{
    flex-grow: 33;
    text-align: center;
    width: 33.333333%;
    display: flex;
    margin: 0 auto;
}

.banner-bottom .banner .image{
    width: 100%;
    height: 100%;
    display: flex;
}

.banner-bottom .banner .image a{
    margin: 0 5px;
}
.banner-bottom .banner .image img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);
}

.gpu-main{
    flex-flow: column;
}

.gpu-main .gpu-header h1{
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
    border-bottom: 2px solid #2D033B;
    color: #2D033B;
    padding-bottom: 10px;
}

.gpu-main .gpu-body{
    flex-wrap: wrap;
}

.gpu-main .gpu-body .gpu-item-main{
    display: flex;
    flex-basis: 19%;
    flex-flow: column;
}

.gpu-main .gpu-body .gpu-item-main img{
    width: 95%;
    height: max-content;
    border: 1.5px solid #E5B8F4;
    background-color: #FCF3FF;
    margin: 0 auto;
    border-radius: 6px;
}

.gpu-main .gpu-body .gpu-item-main a{
    margin: 0;
    color: #2D033B;
    font-size: 16px;
    margin-top: 10px;
}

.gpu-main .gpu-body .gpu-item-main a i{
    color: #391644;
    font-style: normal;
}

.gpu-main .gpu-footer h3{
    font-size: 15px;
    color: #810CA8;
    margin-bottom: 3px;
}

.gpu-main .gpu-footer h3 a{
    color: #2D033B;
    position: relative;
    padding: 5px;
}

.gpu-main .gpu-footer{
    margin-bottom: 35px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.brands{
    flex-flow: column;
    margin-bottom: 60px;
}


.brands .brand-item a img{
    width: 100%;
    opacity: 0.7;
    transition: 0.5s;
}

.brands .brand-item a img:hover{
    opacity: 1;
    transition: 0.5s;
}

.brands .brand-item{
    flex-basis: 18%;
    margin: 20px 0;
}

.brand-main{
    /* background-color: #f6f6f6; */
    background-color: #f7f0f6;
    border: 2px solid #EAD7F0;
    margin: 15px 0;
}

.brands .brand-header h1{
    font-size: 20px;
    margin: 10px 0;
}
