{% extends './index.html' %}
{% load widget_tweaks %}

{% block main %}
<div class='content'>
    <div class='container-fluid'> 
        <div class='row'>
            <div class='col-md-12'>
                <div class='card'>    
                    <div class='card-header' data-background-color="purple">
                        
                        {% block title %}
                            اضافه کردن
                        {% endblock  %}
                            {{item_label}}
                    </div>
                    <div class='card-content'>
                        <form method='POST' enctype="multipart/form-data">
                            <div class='row'>
                                {% csrf_token %}                                
                                {% for i in form %}
                                <div class='col-md-6'>
                                    <div class="form-group label-floating is-empty">
                                        {{i|add_class:'form-control'}}
                                        {{i.errors}}
                                        <label class="control-label">{{i.label}}</label>
                                        <span class="material-input"></span>
                                        <i class='text-muted'>{{i.help_text}}</i>
                                    </div>
                                </div>
                                {% endfor %}
                                
                                <div class='col-md-12'>
                                    <button type="submit" class="btn btn-primary pull-right">
                                    {% block title_button %}
                                        افزودن
                                    {% endblock  %}
                                        <div class="ripple-container"></div>
                                    </button>
                                    
                                    {% block delete_btn %}
                                        
                                    {% endblock  %}
                                        
                                </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>


{% endblock main %}
    


{% block staticjs %}
		<script>
            let all_selects = document.getElementsByTagName('select');
            for (index = 0; index < all_selects.length; ++index) {
                all_selects[index].parentNode.classList.remove('is-empty');
                all_selects[index].parentNode.classList.add('is-focused');
            }
            

            let all_options = document.getElementsByTagName('option');
            for (index = 0; index < all_options.length; ++index) {
                if (all_options[index].selected == true){
                    all_options[index].parentNode.parentNode.classList.remove("is-empty");
                }
            }

            let all_input = document.getElementsByTagName('input');
            for (index = 0; index < all_input.length; ++index) {
                if (all_input[index].value){
                    all_input[index].parentNode.classList.remove("is-empty");
                }
                
                let input_have_error = all_input[index].parentNode;
                for (u = 0; u < input_have_error.children.length; u++){
                    if (input_have_error.children[u].nodeName == 'UL'){
                        input_have_error.classList.add('has-error');
                    }
                }

            }

            let input_files = $('input[type=file]').parent().children('label');
            for (i=0; i < input_files.length; i++){
            input_files[i].style.left = 0;
            }
            
            $(document).ready(function() {
                $(document).on('click','.errorlist', function() {
                    $(this).remove();
                });
            });

        </script>
        {% endblock %}