{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Material Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
	{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> {% endcomment %}
    <link href="{% static 'admin-panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- Bootstrap rtl CSS - from (http://github.com/morteza) -->
	<link rel="stylesheet" href="{% static 'admin-panel/assets/css/bootstrap-rtl.min.css' %}">

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'admin-panel/assets/css/material-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

</head>

<body>

	<div class="wrapper">

	    {% include './rightside-bar.html' %}

	    <div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute box-shadow-header">
				<div class="container-fluid box-shadow-header">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Material Dashboard</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">dashboard</i>
									<p class="hidden-lg hidden-md">پیشخوان</p>
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">notifications</i>
									<span class="notification">5</span>
									<p class="hidden-lg hidden-md">اعلانات</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">مایک جان برای شما یک ایمیل قرار داد</a></li>
									<li><a href="#">شما 5 تسک تازه دارید</a></li>
									<li><a href="#">شما با اندرو دوست شدید</a></li>
									<li><a href="#">اعلان دیگر</a></li>
									<li><a href="#">اعلانی دیگر</a></li>
								</ul>
							</li>
							<li>
								<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
	 							   <i class="material-icons">person</i>
	 							   <p class="hidden-lg hidden-md">نمونه ها</p>
		 						</a>
							</li>
						</ul>

						<form class="navbar-form " role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="جستجو">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
						</form>
					</div>
				</div>
			</nav>

			
			{% block main %}
				
			{% endblock  %}
				
			{% comment %} <div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="orange">
									<i class="material-icons">content_copy</i>
								</div>
								<div class="card-content">
									<p class="category">فضای استفاده شده</p>
									<h3 class="title">49/50<small>GB</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-danger">warning</i> <a href="#pablo">گرفتن فضای بیشتر...</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category">درآمد</p>
									<h3 class="title">$34,245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> در 24 ساعت گذشته
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">info_outline</i>
								</div>
								<div class="card-content">
									<p class="category">مسائل تثبیت شده</p>
									<h3 class="title">75</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">local_offer</i> گرفته شده از گیت هاب
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="blue">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="card-content">
									<p class="category">دنبال کنندگان</p>
									<h3 class="title">+245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> تازه بروزرسانی شده
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-chart" data-background-color="green">
									<div class="ct-chart" id="dailySalesChart"></div>
								</div>
								<div class="card-content">
									<h4 class="title">فروش روزانه</h4>
									<p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> افزایش فروش امروز</p>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">access_time</i> بروزرسانی شده در 4 دقیقه پیش
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-chart" data-background-color="orange">
									<div class="ct-chart" id="emailsSubscriptionChart"></div>
								</div>
								<div class="card-content">
									<h4 class="title"> عضویت در خبرنامه </h4>
									<p class="category">آخرین کمپین سرعتی  </p>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">access_time</i> کمپین ارسال شده 2 روز گذشته
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header card-chart" data-background-color="red">
									<div class="ct-chart" id="completedTasksChart"></div>
								</div>
								<div class="card-content">
									<h4 class="title"> وظایف تکمیل شده </h4>
									<p class="category">آخرین کمپین سرعتی</p>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">access_time</i> کمپین ارسال شده 2 روز گذشته
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card card-nav-tabs">
								<div class="card-header" data-background-color="purple">
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<span class="nav-tabs-title">وظایف:</span>
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="active">
													<a href="#profile" data-toggle="tab">
														<i class="material-icons">bug_report</i>
														ارورها
													<div class="ripple-container"></div></a>
												</li>
												<li class="">
													<a href="#messages" data-toggle="tab">
														<i class="material-icons">code</i>
														سایت
													<div class="ripple-container"></div></a>
												</li>
												<li class="">
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">cloud</i>
														سرور
													<div class="ripple-container"></div></a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card-content">
									<div class="tab-content">
										<div class="tab-pane active" id="profile">
											<table class="table">
												<tbody>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes" checked>
																</label>
															</div>
														</td>
														<td>امضا قرار داد "چه چیزی شده است؟"</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>نوشته ای برای نمایش در جدول</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>نوشته ای برای نمایش در جدول</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>نوشته ای برای نمایش در جدول</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="messages">
											<table class="table">
												<tbody>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes" checked>
															</label>
														</div>
													</td>
													<td>امضا قرار داد "چه چیزی شده است؟"</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="settings">
											<table class="table">
												<tbody>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes" checked>
															</label>
														</div>
													</td>
													<td>امضا قرار داد "چه چیزی شده است؟"</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												<tr>
													<td>
														<div class="checkbox">
															<label>
																<input type="checkbox" name="optionsCheckboxes">
															</label>
														</div>
													</td>
													<td>نوشته ای برای نمایش در جدول</td>
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
													</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12">
							<div class="card">
	                            <div class="card-header" data-background-color="orange">
	                                <h4 class="title"> وضعیت کاربران </h4>
	                                <p class="category">کاربران جدید در 10 خرداد 1396</p>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table table-hover">
	                                    <thead class="text-warning">
	                                        <th>شناسه</th>
	                                    	<th>نام</th>
	                                    	<th>حقوق</th>
	                                    	<th>کشور</th>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>1</td>
	                                        	<td>داکوتا رایس</td>
	                                        	<td>$36,738</td>
	                                        	<td>نیجریه</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>2</td>
	                                        	<td>میورا هوپر</td>
	                                        	<td>$23,789</td>
	                                        	<td>فنلاند</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>3</td>
	                                        	<td>ساج رودریگز</td>
	                                        	<td>$56,142</td>
	                                        	<td>هلند</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>4</td>
	                                        	<td>فیلیپ چینی</td>
	                                        	<td>$38,735</td>
	                                        	<td>کره جنوبی</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}

			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="#">
									صفحه اصلی
								</a>
							</li>
							<li>
								<a href="#">
									شرکت
								</a>
							</li>
							<li>
								<a href="#">
									نمونه کارها
								</a>
							</li>
							<li>
								<a href="#">
								   وبلاگ
								</a>
							</li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script>
						<a href="http://www.creative-tim.com">  تیم سازنده  </a>ساخته شده با عشق برای دنیای وب بهتر
					</p>
				</div>
			</footer>
		</div>
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="{% static 'admin-panel/assets/js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'admin-panel/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'admin-panel/assets/js/material.min.js' %}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="{% static 'admin-panel/assets/js/chartist.min.js' %}"></script>

	<!--  Notifications Plugin    -->
	<script src="{% static 'admin-panel/assets/js/bootstrap-notify.js' %}"></script>

	{% comment %} <!--  Google Maps Plugin    -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> {% endcomment %}

	<!-- Material Dashboard javascript methods -->
	<script src="{% static 'admin-panel/assets/js/material-dashboard.js' %}"></script>

	{% comment %} <script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in assets/js/demos.js
        	demo.initDashboardPageCharts();

    	});
	</script> {% endcomment %}

	
	{% block staticjs %}
		
	{% endblock %}
		

</html>
