{% extends './index.html' %}
{% block main %}        
    <div class="content">
        {% if messages %}
            <ul class='messages'>
                {% for i in messages %}
                    <div class='bg-{{i.tags}} message'>
                        <p class='text-white'>{{i}}</p>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">لیست محصولات</h4>
                            <p class="category">لیست محصولات اضافه شده توسط ادمین ها</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>نام</th>
                                        <th>دسته بندی</th>
                                        <th>قیمت</th>
                                        <th>موجودی</th>
                                        <th>زمان افزودن</th>
                                        <th>وضعیت انتشار</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in data %}
                                    <tr>
                                        <td><a href='{% url "account:update_product" i.slug %}'>{{i.name}}</a></td>
                                        <td>{{i.category.name}}</td>
                                        <td class="text-primary">{{i.display_price}}تومان</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{{i.created}}</td>
                                        <td>{{i.get_status_display}}</td>
                                    </tr>

                                    {% empty %}
                                    <td class='text-danger'>محصولی وجود ندارد</td>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
