{% extends './index.html' %}


{% block main %}

    <div class='content'>
        <div class='container-fluid'> 
            <div class='row'>
                <div class='col-md-12'>
                    <div class='card'>    
                        <div class='card-header' data-background-color="purple">
                            افزودن محصول
                        </div>
                        <div class='card-content'>
                            <div class='row' id='quick-tab-products'>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_cpu' %}">
                                    {% comment %} <a href="{% url 'account:add_cpu' %}"> {% endcomment %}
                                        افزودن پردازنده
                                    {% comment %} </a> {% endcomment %}
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_gpu' %}">
                                    افزودن کارت گرافیک
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_ram' %}">
                                    افزودن حافظه رم
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_mainboard' %}">
                                    افزودن مادربورد
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_power' %}">
                                    افزودن منبع تغذیه
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_fan' %}">
                                    افزودن خنک کننده
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_case' %}">
                                    افزودن قاب کیس
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_disk' %}">
                                    افزودن دیسک
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_battery' %}">
                                    افزودن باطری
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_monitor' %}">
                                    افزودن صفحه نمایش
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_webcam' %}">
                                    افزودن وبکم
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_keyboard' %}">
                                    افزودن کیبورد
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_mouse' %}">
                                    افزودن ماوس
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_pad' %}">
                                    افزودن پدماوس
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_cable' %}">
                                    افزودن کابل
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_laptop' %}">
                                    افزودن لپ تاپ
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_sc' %}">
                                    افزودن کیس اسمبل شده
                                </a>
                                <a class='col-md-3 p-3 m-3' data-background-color='purple' href="{% url 'account:add_boundle' %}">
                                    افزودن باندل ماوس و کیبورد
                                </a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}
    