{% load static %}
{% load utils %}
<div class="sidebar" data-color="purple" data-image="{% static 'admin-panel/assets/img/sidebar-1.jpg' %}">
    <div class="logo">
        <a href="http://www.sevdaweb.ir" class="simple-text">
            پنل آنلاین شاپ
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.resolver_match.url_name == 'dashboard' %}class='active'{% endif %}>
                <a href="{% url 'account:dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p>پیشخوان</p>
                </a>
            </li>
            <hr>
            
                
            <li {% if request.resolver_match.route|check_start_url %}class='active'{% endif %}>
                <a href="{% url 'account:products_quick' %}">
                    <i class="material-icons">person</i>
                    <p>افزودن محصول</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == 'products' %}class='active'{% endif %}>
                <a href="{% url 'account:products' %}">
                    <i class="material-icons">library_books</i>
                    <p>لیست محصولات</p>
                </a>
            </li>
            <hr>
            <li {% if request.resolver_match.url_name == 'add_category' %}class='active'{% endif %} >
                <a href="{% url 'account:add_category' %}">
                    <i class="material-icons">content_paste</i>
                    <p>اضافه کردن دسته بندی</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == 'category_list' %}class='active'{% endif %} >
                <a href="{% url 'account:category_list' %}">
                    <i class="material-icons">content_paste</i>
                    <p>لیست دسته بندی</p>
                </a>
            </li>
            <hr>
            <li>
                <a href="icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>سفارش های دریافتی</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="material-icons">person</i>
                    <p>کاربرها</p>
                </a>
            </li>
            {% comment %} <li>
                <a href="notifications.html">
                    <i class="material-icons text-gray"></i>
                    <p></p>
                </a>
            </li> {% endcomment %}
        </ul>
    </div>
</div>