{% extends '../index.html' %}

{% block main %}
<div class='content'>
    <div class='container-fluid'> 
        <div class='row'>
            <div class='col-md-12'>
                <div class='card'>    
                    <div class='card-header' data-background-color="red">
                        حذف {{item_label}} {{object.name}}
                    </div>
                    <div class='card-content'>
                        <form method='POST'>
                            <div class='row'>
                                {% csrf_token %} 
                                <div class='col-md-12 text-center'>
                                    <div class="text-danger">
                                        <p>آیا از حذف {{item_label}} {{object.name}} مطمئن هستید؟
                                    </div>
                                    <div class='text-center row'>
                                        <button type="submit" class="btn btn-danger pull-center">
                                            حذف
                                        </button>
                                        <a href="{% url 'account:update_category' request.resolver_match.kwargs.slug %}" class="btn btn-success pull-center">
                                            بازگشت
                                            <div class="ripple-container"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>                               
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>


{% endblock main %}