{% extends '../index.html' %}
{% block main %}
        
    <div class="content">
        
        {% if messages %}
            <ul class='messages'>
                {% for i in messages %}
                    <div class='bg-{{i.tags}} message'>
                        <p class='text-white'>{{i}}</p>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">لیست دسته بندی ها</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>نام</th>
                                        <th>اسلاگ</th>
                                        <th>مکان قرارگیری</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in data %}
                                    <tr>
                                        {% comment %} <td><a href='{% url "account:update_category" i.slug %}'>{{i.name}}</a></td> {% endcomment %}
                                        <td><a href='{% url "account:update_category" i.slug %}'>{{i.name}}</a></td>
                                        <td>{{i.slug}}</td>
                                        <td>{{i.position}}</td>
                                    </tr>

                                    {% empty %}
                                    <td class='text-danger'>محصولی وجود ندارد</td>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
